.c1 img {
  margin-top: 150px;
  filter: brightness(40%);
}

.c1 h1 {
  margin-left: 400px;
  position: relative;
  bottom: 320px;
  color: white;
  font-family: sans-serif;
  font-size: 60px;
}


.c1 p {
  margin-left: 720px;
  position: relative;
  bottom: 350px;
  color: white;
}

.c1 button {
  margin-left: 600px;
  bottom: 315px;
  position: relative;
  background-color: black;
  color: white;
}


.c1 button:hover {
  cursor: pointer;
  color: rgb(160, 105, 23);
  transition-duration: 0.2s;
}


.c2{
    margin-top: -140px;
}

.c2 h1{
    text-align: center;
    color: rgb(22, 146, 146);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.c2 h2{
    text-align: center;
    font-family: sans-serif;
}

.c2 h3{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.c2 p{
    text-align: center;
    color: green;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.8;
     background-color: #b3adad;      
      padding: 20px;                  
      width: 60%;                    
      margin: 50px auto;          
      border-radius: 10px; 
}

.c3 h1{
    font-family: 'Times New Roman', Times, serif;
    color: #3226b8;
}

.c3 h2{
    font-family: sans-serif;
}

.c3 h3{
    font-family: sans-serif;
}

.c3 p{
    color: #3226b8;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    background-color: aquamarine;
    padding: 15px 20px;
  border-radius: 6px;
  border-left: 5px solid #3226b8;
  width: fit-content;
}

.c3{
    display: flex;
}

.c4{
    margin-left: 20px;
    margin-top: 20px;
}

.c4 p{
    border-right: 5px solid blueviolet;
    border-left: 1px solid blanchedalmond;
    color: red;
    background-color: blanchedalmond;
}

.c4 h1{
    color: red;
}

.c5{
    margin-top: 50px;
}

.c5 h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #4c3ec7;
}

.c5 h2{
    text-align: center;
    font-family: sans-serif;
}

.c5 h3{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.c5 p{
    text-align: center;
     color: rgb(198, 161, 27);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.8;
     background-color: #4c3ec7;      
      padding: 20px;                  
      width: 60%;                    
      margin: 50px auto;          
      border-radius: 10px;
}


.c6{
    margin-top: 70px;
    display: flex;
}

.c6 h1{
    color: rgb(199, 199, 134);
    margin-left: 20px;
}

.c6 p{
     border-left: 5px solid  rgb(199, 199, 134);
    color: red;
    background-color: rgb(133, 86, 15);
     color:  rgb(199, 199, 134);
    line-height: 1.6;
    font-family: sans-serif;
    font-size: 17px;
    padding: 15px 20px;
  border-radius: 6px;
  width: fit-content;
}

.c6 h2{
    margin-left: 20px;
}

.c6 h3{
    margin-left: 20px;
}

.c7 h1{
    margin-left: 40px;
}

.c7 p{
    margin-left: 40px;
}

.c7 h2{
    margin-left: 40px;
}

.c7 h3{
    margin-left: 40px;
}


.c8 {
  display: flex;
  margin-top: 60px;
  margin-left: 50px;
}

.c8 h1 {
  color: burlywood;
}

.c9 p {
  line-height: 1.8;
}


.c9 img {
  margin-left: 50px;
}


