/* Hero Section */
.hero-section {
  position: relative;
}
.hero-img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  filter: brightness(0.4);
}
.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Card Styling */
.card {
  border: none;
  border-radius: 12px;
  background-color: #f8f9fa;
  font-size: 16px;
}
