.partner-card {
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.partner-card:hover {
  transform: translateY(-8px);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.25);
}

.partner-card ul {
  padding-left: 0;
  list-style: none;
  font-size: 14px;
  margin-top: 10px;
}

.partner-card ul li {
  margin-bottom: 5px;
}
