.innovation-section {
  background: #f8f9fa;
}

.timeline {
  position: relative;
  margin: 20px 0;
  padding: 0;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #adb5bd;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.timeline-item {
  padding: 20px;
  position: relative;
  width: 50%;
}

.timeline-item.left {
  left: 0;
  text-align: right;
}

.timeline-item.right {
  left: 50%;
}

.timeline-item h3 {
  font-weight: bold;
  margin-top: 10px;
  color: #343a40;
}

.timeline-item p {
  background: white;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
}

/* Icon Circle */
.icon-circle {
  width: 50px;
  height: 50px;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  margin: auto 0;
  margin-bottom: 12px;
}
